---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Jumbotron from '../components/Jumbotron.astro';
import Card from '../components/Card.astro';

const cards = [
	{
		title: "Card 1",
		description: "This is the description for card 1.",
		btnText: "Boka nu!",
	},
	{
		title: "Card 2",
		description: "This is the description for card 2.",
		btnText: "Läs mer",
	},
	{
		title: "Card 3",
		description: "This is the description for card 3.",
		btnText: "Läs mer",
	},
];	


---

<Layout>
	<Jumbotron />
	<div class="flex flex-wrap justify-center gap-15 mb-20 mt-10 mx-auto">
		{cards.map ((card) => (
			<Card title={card.title} description={card.description} btnText={card.btnText} />
		))}
	</div>
</Layout>



