<footer class="left-0 z-20 w-full bg-neutral-primary-soft">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/" class="flex items-center">
          <img
            src="/Webbklartlogo.png"
            class="h-30 me-3"
            alt="Webbklart Logo"
          />
        </a>
      </div>
      <div class="flex">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-heading uppercase">
            Kontakta mig
          </h2>
          <ul class="text-body font-medium">
            <p>
              Email: <a
                href="mailto:webbklart@outlook.com"
                class="text-blue-600 hover:underline">webbklart@outlook.com</a
              >
            </p>
            <li>
              <a href="" class="hover:underline">Tel: 0736246223</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-default sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-body sm:text-center"
        >© 2026 <a href="https://flowbite.com/" class="hover:underline"
          >Webbklart</a
        >. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
