<section class="bg-neutral-primary p-10 mt-4 bg-slate-100">
  <div
    class="flex flex-col items-center justify-center py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16"
  >
    <div>
      <h1
        class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-4xl lg:text-4xl"
      >
        Känner du igen dig i det här ?
      </h1>

      <ul class="flex flex-col gap-1 max-w-mdspace-y-1 text-bodylist-inside text-center mb-8 text-base font-bold text-body md:text-m">
        <li class="flex items-center gap-1">
          <svg
            class="w-6 h-6 text-body dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 12H5m14 0-4 4m4-4-4-4"></path></svg
          >
          Du har ingen hemsida idag
        </li>
        <li class="flex items-center gap-1      ">
          <svg
            class="w-6 h-6 text-body dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            ><path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 12H5m14 0-4 4m4-4-4-4"></path>
          </svg>

          Din nuvarande sida är gammal eller funkar dåligt i mobilen
        </li>
        <li class="flex items-center gap-1">
          <svg
            class="w-6 h-6 text-body dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            ><path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 12H5m14 0-4 4m4-4-4-4"></path>
          </svg>

          Du vet inte var du ska börja
        </li>
      </ul>
      <p class="mb-8 text-start text-3xl mt-4">- Webbklart löser det ! </p>





        <ul class="flex flex-col gap-1 max-w-mdspace-y-1 text-bodylist-inside text-center mb-8 text-base font-bold text-body md:text-m">
        <li class="flex items-center">
                  <svg class="w-4 h-4 text-fg-success me-1.5 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>

          Du får en färdig hemsida
        </li>
        <li class="flex items-center">
          <svg class="w-4 h-4 text-fg-success me-1.5 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
          Din nuvarande sida är gammal 
        </li>
        <li class="flex items-center">
            <svg class="w-4 h-4 text-fg-success me-1.5 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>


          Mobilanpassad och snabb
        </li>
      </ul>
    </div>
  </div>
</section>
